.inputContainer {
    max-width: 1000px;
    margin: 20px auto;
    max-height: 20px;
    border: 1px solid steelblue;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    resize: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}