.container {
    text-align: center;
    font-family: 'Roboto', "Helvetica Neue", sans-serif; 
}

input {
    resize: none;
    overflow: hidden;
    pointer-events: none;
    font-size: 1.25rem;
    color: #444444;
}

mat-form-field {
    overflow: hidden;
    width: 50%;
    margin-top: 20px;
    
    
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #444444!important;
}