<header>
    <div class="title">
      <h1><i class="fa-solid fa-keyboard"></i> {{ title }}</h1>
      
      <button class="btn1" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon">person-outline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToDashboard()"><i class="fa-solid fa-user"></i> My Profile</button>
        <button mat-menu-item class="nav-link" (click)="authService.SignOut()" > <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</button>
      </mat-menu>
    </div>
</header>