h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
    color: #444444;;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 70px;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    
}

.title {
    display: flex;
    flex-direction: row;
}

#icon_logo {
    font-size: 3rem;
    margin-right: 1rem;
}

