<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
   <!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">
    </a> -->
</nav>
  <!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h1 id="title"><i class="fa-solid fa-keyboard"></i> {{ title }}</h1>
        <div class="formGroup">
          <button class="btn1" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">person-outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- Go back to Typing test -->
            <button mat-menu-item routerLink="/logged-in-front"><i class="fa-solid fa-keyboard"></i> Back to the typing test</button>
            <!-- Log out -->
            <button mat-menu-item type="button" class="nav-link" (click)="authService.SignOut()" > <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</button>
          </mat-menu>
        </div>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="user-profile-title">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h1>Hello, <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <h2>Account Details:</h2>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                <h2>User Stats:</h2>
                <p>Average WPM:</p>
                <p>Average Accuracy:</p>
                <p>Top frequent mistakes: </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>