<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
</nav>
  <!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h1 id="title"><i class="fa-solid fa-keyboard"></i> {{ title }}</h1>
        <div class="formGroup">
          <!-- User Profile Menu -->
          <button class="btn1" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">person-outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- Go back to Typing test -->
            <button mat-menu-item routerLink="/logged-in-front"><i class="fa-solid fa-keyboard"></i> Back to the typing test</button>
            <!-- Log out -->
            <button mat-menu-item type="button" class="nav-link" (click)="authService.SignOut()" > <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</button>
          </mat-menu>
        </div>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="user-profile-title">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h1>Hello, <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <h2>Account Details:</h2>
                <p>User ID: {{user.uid}}</p>
                <p>Email: {{user.email}}</p>
                <p>Email Verified: {{user.emailVerified}}</p>
                <h2>User Stats:</h2>
                <p>Average WPM: {{ avgWPMStr }}</p>
                <p>Average Accuracy: {{ avgAccStr }}</p>
                <p>Top frequent mistakes:</p>
                <div *ngFor="let item of topMistakes; let i = index">
                  <p>{{i + 1}}. {{ item }}</p>
                </div>
                <div style="display: flex;">
                  <canvas *ngIf="isLoaded" baseChart width="400" height="400"
                    [type]="'line'"
                    [data]="lineChartDataWPM"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend">
                  </canvas>

                  <canvas *ngIf="isLoaded" baseChart width="400" height="400"
                    [type]="'line'"
                    [data]="lineChartDataAcc"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>