<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h1 id="title"><i class="fa-solid fa-keyboard"></i> {{ title }}</h1>
      <h3>Sign Up</h3>

      <div class="formGroup">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" class="formControl" #userEmail required/>
        </mat-form-field>
      </div>

      <div class="formGroup">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" class="formControl" #userPwd required/>
        </mat-form-field>
        
      </div>
      <br>
      <div class="formGroup">
        <button mat-raised-button  type="button"
        class="btn btnPrimary"
        value="Sign Up"
        (click)="authService.SignUp(userEmail.value, userPwd.value)"> Sign Up</button>
        <!-- <input
          type="button"
          class="btn btnPrimary"
          value="Sign Up"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
        /> -->
      </div>
      <br>
      <div class="formGroup">
        <p><span class="or"><span class="orInner">Or</span></span></p>
        
      </div>
      <!-- Continue with Google -->
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          mat-raised-button 
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>
    </div>
    <br>
    <div class="redirectToLogin">
      <p><span
        >Already have an account?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      ></p>
      
    </div>
    <!--Go Back To typing test-->
    
    <div class="formGroup">
      <button type="button"
      class="redirect"
      mat-raised-button 
      routerLink="">
      Back to Typing Test</button>
    </div>
  </div>
</div>
