<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <!-- Main Content -->
      <h1 id="title"><i class="fa-solid fa-keyboard"></i> {{ title }}</h1>
      <h3>Reset Password</h3>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <!-- Email Address field -->
      <div class="formGroup">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" class="formControl" #passwordResetEmail required/>
        </mat-form-field>
      </div>
      <br>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <!-- Submit button -->
        <button mat-raised-button type="submit" class="btn btnPrimary" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
      </div>
    </div>
    <br>
    <!-- Redirect to login page button -->
    <div class="redirectToLogin">
      <button mat-raised-button class="redirect" routerLink="/sign-in">Go Back To Log In</button>  
    </div>
  </div>
</div>
