<div>
  <app-header></app-header>
  <app-timer 
    [signalReceived]="this.signalTimer" 
    [testDone]="this.done" 
    (endTimeEvent)="timerDone($event)"
  ></app-timer>
  <app-lout-display-textbox 
    (displaySet)="setTarget($event)" 
    [userInput]="this.userInput"
  ></app-lout-display-textbox>
  <app-typing-textbox 
    [target]="this.target" 
    (hasTestStartedEvent)="sendSignalTimer($event)" 
    (testDoneEvent)="typingDone($event)"
    [timeDone]="done"
    (newInputEvent)="transferInput($event)"
  ></app-typing-textbox>
  <app-refresh></app-refresh>
  <app-lout-result
    *ngIf="this.done"
    [target]="this.target" 
    [userInput]="this.userInput" 
    [time]="this.time"
  ></app-lout-result>
  
</div>